{% extends 'main/layout.html' %}

{% block title %}
    About Us
{% endblock %}

{% block bodypage %}
   <section class="contentbox">
    <article class="about" lang="az">
        <section class="content1">
            <p>2017-ci ildən fəaliyyət göstərən “Ferrum Capital” ölkənin ilk müstəqil faktorinq şirkətidir. Məqsədimiz faktorinq xidməti sayəsində sahibkarlara maliyyə dəstəyi göstərməkdir. Faktorinq xidməti ilə siz həm müştərilərinizə sərfəli ödəmə üsulları təqdim edə, həm də problemsiz maliyyə dövriyyəsini təmin edə bilərsiniz. Sayı 1500-ü keçən partnyor sayımız hər gün daha da artır.
        </section>
        <section class="content1">
            <p>Əməkdaşlıq etdiyimiz tikinti, geyim, avtomobil, istehsalat və həmçinin digər xidmət sahələri ilə 200 mindən çox müştəriyə hər gün arzularını reallaşdırmağa kömək edirik. Bizim üçün müştəri məmnuniyyəti əsas dəyər olaraq qalır. Belə ki, keçirdiyimiz sorğulara əsasən, partnyorlarımızın məmnunluq göstəricisi 98 %-dir. Hər zaman sahibkarların və istehlakçıların yanında olan “Ferrum Capital” sizinlə əməkdaşlıq etməyə hazırdır.</p>
        </section>
    </article>
   </section>
    
{% endblock %}
