{% extends 'main/layout.html' %}

{% block title %}
    Registration Page
{% endblock %}

{% block bodypage %}
<div class="login-box">
  <form method="post">
      <h1>Registration</h1>
      {% csrf_token %}
      <div class="input-box">
          <input type="text" placeholder="  Name" required enabled maxlength="30">
      </div>

      <div class="input-box">
          <input type="text" placeholder="  Last Name" required enabled maxlength="30">
      </div>
      <div class="input-box">
          <input type="email" placeholder="  E-mail" required enabled maxlength="30">
      </div>

      <div class="input-box">
          <input type="password" placeholder="  Password" required enabled maxlength="20">
      </div>

      <center><button type="submit"><span>SignUp</span></button></center>

      <div class="register-link">
          <p>Already have an account?<a href="/demo_site/main/templates/main/login.html" style="text-decoration: none;">Login</a></p>
      </div>
  </form>
</div>    
{% endblock %}
