{% extends 'main/layout.html' %}

{% block title %}
    Registration Page
{% endblock %}

{% block bodypage %}
<main>
  <section class="wrapper"> 
    <div class="box" id="box1">

    </div>
    <div class="box" id="box2">
      <form action="models.py" method="post" id="postform">
        <input type="email" enabled placeholder="  E-mail" id="input-e">
        <input type="password" enabled placeholder="  Password" id='input-p'>
        <button type="submit">Create Account</button>
        <p class="sub_text">Already have an account? <span style="color: #4141ae; text-decoration: underline;">Sign in</span></p>
      </form>
    </div>
    <div class="box" id="box3">
    </div>
  </section>
</main>
  </main>
    
{% endblock %}
